/* Rascunho de cores */
#rascunho {
  color: #40514e;
  color: #11999e;
  color: #66bfbf;
  color: #eaf6f6;
}

body {
  text-align: center;
  background-color: #eeeeee;
  font-family: "Merriweather", serif;
  margin: 0px;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  color: #9e1111;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #9e1111;
}

.top-container {
  position: relative;
  background-color: rgb(230, 184, 173);
}

.profile {
  text-align: center;
}

.skills {
  text-align: center;
  margin-top: 80px;
}

.top-cloud-img,
.bottom-cloud-img {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.top-cloud-img {
  margin: -320px 0px 0px 200px;
}

.bottom-cloud-img {
  margin: -280px 0px 0px -350px;
}

.middle-container {
  margin: 100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}

.underline {
  text-decoration: underline;
  font-size: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}

.teaching-img {
  width: 0%;
  margin-right: 30px;
}
.teaching-img,
.programing-img {
  width: 100%;
}

.skill-description-img {
  display: inline-block;
  width: 29%;
  vertical-align: middle;
}
.skill-description-text {
  display: inline-block;
  width: 69%;
  vertical-align: middle;
}

.programming-img {
  width: 100%;
  margin-left: 30px;
}

.bottom-container {
  background-color: #b50000;
  padding: 40px;
}

.bottom-container p {
  color: #eaf6f6;
}

.bottom-container a {
  color: rgb(57, 0, 0);
  margin: 10px 20px;
}

.butn {
  background: #a31515;
  background-image: -webkit-linear-gradient(top, #a31515, #f53939);
  background-image: -moz-linear-gradient(top, #a31515, #f53939);
  background-image: -ms-linear-gradient(top, #a31515, #f53939);
  background-image: -o-linear-gradient(top, #a31515, #f53939);
  background-image: linear-gradient(to bottom, #a31515, #f53939);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #8f071e;
  background-image: -webkit-linear-gradient(top, #8f071e, #d93434);
  background-image: -moz-linear-gradient(top, #8f071e, #d93434);
  background-image: -ms-linear-gradient(top, #8f071e, #d93434);
  background-image: -o-linear-gradient(top, #8f071e, #d93434);
  background-image: linear-gradient(to bottom, #8f071e, #d93434);
  text-decoration: none;
}

.bottom-container p {
  margin-bottom: 0px;
}

.contact-me {
  text-align: center;
}
